h1 {
    font-size: 36px;
}
p {
    font-size: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
}

.logo img {
    height: 25%;
    width: 25%;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #0056b3;
}

/* Video a la izquierda */
.seccion-video {
    width: 52.4%;
}

.seccion-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste sin deformar el video */
}

/* Sección de texto a la derecha */
.seccion-derecha {
    background-color: #f5f5f5;
    color: black;
    padding: 20px;
    font-size: 18px;
    width: 47%;
    display: flex;
    align-items: center;
}

.seccion-derecha-texto {
    margin: auto;
    width: 80%;
}

/* Contenedor flexible para la sección y la imagen */
.contenedor-seccion {
    display: flex;
    width: 100%;
    align-items: stretch; /* Para que ambos tengan la misma altura */
}

/* Sección de texto */
.seccion-izquierda {
    background-color: #001F3F;
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    width: 50%; /* Mitad de la pantalla */
    display: flex;
    align-items: center;
}

/* Imagen a la derecha */
.seccion-imagen {
    width: 50%; /* Ocupa la otra mitad */
}

.seccion-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen se ajuste sin deformarse */
}

/* Botones */
.btn-publicar {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: lightblue;
    border-radius: 5px;
    border: solid black 1px;
    transition: background-color 0.3s;
}

.btn-publicar:hover {
    background-color: #001F3F;
    color: white;
}

.botones {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.btn-primario,
.btn-secundario {
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primario {
    background-color: #001F3F;
    color: white;
    margin-right: 250px;
}

.btn-primario:hover {
    background-color: #0056b3;
}

.btn-secundario {
    background-color: lightblue;
}

.btn-secundario:hover {
    background-color: #0056b3;
    color: white;
}

/* Modal */
.modal {
    display: none; /* Se oculta por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para los inputs */
.modal-contenido input {
    width: 95%;
    max-width: 450px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón de envío */
.modal-contenido button {
    background-color: #001F3F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.modal-contenido button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #01162a;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    clear: both;
    width: 100%;
}

footer nav {
    display: flex;
    gap: 15px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


