/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos generales */
html,body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mínimo 100% de la altura de la pantalla */
}

/* Barra superior */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 25%;
    width: 25%;
}

/* Barra de búsqueda */
.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar input {
    width: 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: -30px;
}

.menu{
    display: none;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    width: 150px;
    position: absolute;
}

.menu a{
   text-decoration: none;
   color: black;
}

.menu-item{
    padding:5px;
    cursor: pointer;
}

.menu-item:hover{
    background-color: #ddd;
}

/* Botón de Logout */
.logout {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/*Galeria de Imagenes*/

.galeria-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

.galeria {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.imagen-principal {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  z-index: 1;
}

.boton-galeria {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 2;
  transition: background-color 0.3s ease;
}

#anterior {
  left: 10px;
}

#siguiente {
  right: 10px;
}

.boton-galeria:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.texto-galeria {
  text-align: center;
  padding: 0 20px;
}

#titulo {
  font-size: 22px;
  margin-bottom: 10px;
}

#texto {
  margin-bottom: 8px;
  font-size: 16px;
}

#descripcion {
  font-size: 14px;
  color: #555;
}

/* Pie de página */
footer {
    background-color: #01162a;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Empuja el footer hacia abajo cuando hay poco contenido */
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.icono{
    width: 15px;
    height: 15px;
}

.Btn-cerrarsesion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn-cerrarsesion:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn-cerrarsesion:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn-cerrarsesion:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn-cerrarsesion:active {
    transform: translate(2px ,2px);
  }

  .btn-ocultar {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 18px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

  /* Botón de Publicar Proyecto */
  .btn-publicar{
    --color: #0056b3;
    display: inline-block;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  .btn-publicar::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 300px;
    height: 300px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .btn-publicar:hover {
    color: white;
  }
  
  .btn-publicar:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  .btn-publicar:hover::before {
    top: -100px;
    left: -100px;
  }

  /*Boton*/
  .btn{
    --color: #0056b3;
    display: inline-block;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  .btn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 300px;
    height: 300px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  .btn:hover::before {
    top: -100px;
    left: -100px;
  }